@charset "UTF-8";

@import url("https://fonts.googleapis.com/earlyaccess/notosansjp.css");

@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

@import url("https://fonts.googleapis.com/css?family=Quicksand");

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

@import url("https://fonts.googleapis.com/css?family=Sacramento");

@font-face {
  font-family: 'futura';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/futura/Futura-Med.otf") format("otf");
}

@font-face {
  font-family: 'futura';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/futura/Futura-Boo.otf") format("otf");
}

@font-face {
  font-family: 'futura';
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/futura/Futura-Lig.otf") format("otf");
}

body {
  font-family: "Noto Sans JP", "futura", "Noto Sans", "Open Sans", "Quicksand", "Helvetica", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #5f5f5f;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

.home-nav {
  position: fixed;
  z-index: 20;
  overflow: hidden;
  width: 100%;
  height: 60px;
}

.page-nav {
  position: fixed;
  z-index: 20;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 68px;
  background-color: #0ac;
}

.home-nav_logo {
  float: left;
  width: 76px;
  margin-top: 18px;
  margin-left: 30px;
}

.home-nav_logo img {
  max-width: 100%;
}

.home-nav_menu {
  display: none;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu-trigger {
  position: relative;
  width: 35px;
  height: 22px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

.home-nav-sp {
  font-family: "Josefin Sans", "Helvetica", sans-serif;
  position: fixed;
  z-index: 20;
  display: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.home-nav-sp_nav-list {
  font-size: 1.4em;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0;
  list-style: none;
}

.home-nav-sp_nav-list li {
  width: 100%;
  margin-bottom: 22px;
  padding: 0;
  text-align: center;
}

.home-nav-sp_nav-list li a {
  font-family: "Josefin Sans", "Helvetica", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.home-nav-sp_logo {
  width: 50%;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.home-nav-sp_logo img {
  max-width: 100%;
}

.home-nav_nav-list {
  font-size: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  width: 400px;
  margin-top: 22px;
  margin-right: 30px;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.home-nav_nav-list li {
  padding: 0;
  text-align: center;
}

.home-nav_nav-list li a {
  font-family: 'futura';
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}

.scroll-top {
  position: fixed;
  z-index: 30;
  right: 30px;
  bottom: 30px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #0ac;
}

.scroll-top a {
  display: block;
  width: 50px;
  height: 50px;
}

.scroll-top a img {
  width: 34px;
  height: 34px;
  margin-top: 8px;
  margin-left: 8px;
}

.scroll-top:hover {
  -webkit-transition: .7s;
  transition: .7s;
  opacity: .7;
}

.display-effect {
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  -webkit-transform: translate(0, 70px);
  transform: translate(0, 70px);
  opacity: 0;
}

.display-effect_scrollin {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1.0;
}

.wrapper {
  width: 100%;
}

.wrapper h2 {
  font-family: 'futura';
  font-size: 2.0em;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  margin: 60px auto;
  padding: 0;
  text-align: center;
  color: #262025;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  -webkit-animation: gradationHero 8s ease infinite;
  animation: gradationHero 8s ease infinite;
  background: -webkit-gradient(linear, left top, left bottom, from(#0ac), to(#ff6088));
  background: linear-gradient(180deg, #0ac, #ff6088);
  background-size: 400% 400%;
}

@-webkit-keyframes gradationHero {
  0% {
    background-position: 50% 0;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0;
  }
}

@keyframes gradationHero {
  0% {
    background-position: 50% 0;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0;
  }
}

.hero-box {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  width: 650px;
  margin: 0 auto;
}

.hero-box_logo {
  width: 360px;
  margin: 0 auto;
}

.hero-box_logo img {
  max-width: 100%;
}

.hero-box_catch-phrase {
  font-family: 'futura';
  font-size: 1.2em;
  font-weight: 100;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  letter-spacing: 6px;
  color: #fff;
}

.news {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  text-align: center;
  background-color: #f0f0f0;
}

.news-box {
  width: 860px;
  margin: 0 auto;
}

.article-list {
  width: 100%;
  text-align: left;
}

.article-list_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.article-list_thumbnail {
  margin: 0;
  padding: 0;
}

.article-list_thumbnail img {
  width: 150px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-list_text-block {
  width: 100%;
  margin-left: 26px;
}

.article-list_text-block hr {
  width: 100%;
  height: 1px;
  text-align: left;
  border: none;
  background-color: #c2c2c2;
}

.article-list_text-block-date {
  font-size: .8em;
}

.article-list_text-block-title {
  font-family: 'Noto Sans JP';
  font-size: .9em;
  font-weight: 700;
}

.article-list_text-block-title-link {
  text-decoration: none;
  color: #5f5f5f;
}

.article-list_view-all-button {
  line-height: 40px;
  width: 200px;
  height: 43px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  color: #0ac;
  border: 3px #0ac solid;
}

.article-list_view-all-text {
  font-family: 'futura';
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #0ac;
}

.vision {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: #000;
  background-image: url("../images/vision.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.vision h2 {
  color: #0ac;
}

.vision::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  background-color: rgba(0, 0, 0, 0.6);
}

.vision-box {
  font-family: 'Noto Sans JP';
  position: absolute;
  right: 0;
  left: 0;
  width: 860px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.vision-box_title {
  font-size: 1.8em;
  font-weight: 300;
  margin: 0 auto;
}

.vision-box_description {
  font-weight: 200;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 60px;
}

.services {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  text-align: center;
  background-color: #f0f0f0;
}

.services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 860px;
  margin: 0 auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.services-box_card {
  width: 400px;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: -4px 6px 16px 4px #ddd;
  box-shadow: -4px 6px 16px 4px #ddd;
}

.services-box_card-logo {
  width: 100%;
  height: 230px;
}

.services-box_card-logo a {
  width: 100%;
  height: 100%;
}

.services-box_card-logo a img {
  width: 65%;
  max-width: 65%;
}

.services-box_card-logo a .services-box_card-logo_fukuoka-calling {
  width: 52%;
  max-width: 52%;
  margin-top: 14px;
}

.services-box_card-description {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #262025;
}

.services-box_card-service-name {
  font-size: .8em;
  padding-top: 18px;
  color: #fff;
}

.services-box_card-description-text {
  font-size: .7em;
  font-weight: 300;
  line-height: 20px;
  position: absolute;
  right: 0;
  left: 0;
  width: 83%;
  margin: 0 auto;
  margin-top: 12px;
  text-align: left;
  color: #ddd;
}

.plus-sign {
  font-size: 22px;
  position: relative;
  z-index: 10;
  top: -4%;
  right: -90%;
  width: .4em;
  height: 1.6em;
  background-color: #0ac;
}

.plus-sign::before {
  position: absolute;
  top: .6em;
  left: -.6em;
  width: 1.6em;
  height: .4em;
  content: '';
  background-color: #0ac;
}

.company {
  font-family: 'Noto Sans';
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  text-align: center;
}

.company-box {
  width: 860px;
  margin: 0 auto;
}

.company-overview {
  overflow: hidden;
  width: 100%;
  background-color: #fff;
}

.company-overview dt {
  line-height: 3.0em;
  display: block;
  float: left;
  clear: both;
  margin-right: 10px;
  text-align: left;
}

.company-overview dd {
  line-height: 2.9em;
  display: block;
  float: right;
  width: 60%;
  text-align: right;
}

.company-overview_office-address {
  line-height: 20px !important;
  padding-top: 14px;
}

.company-overview_business-contents {
  margin-top: 14px;
}

.company-overview_business-name {
  line-height: 18px;
}

.company-overview_business-description {
  font-size: .7em;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 12px;
}

.member {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  text-align: center;
  background-color: #f0f0f0;
}

.member-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 860px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.member-box_card {
  width: calc( 860px / 2);
  height: 200px;
  margin-bottom: 4px;
  background-color: #0ac;
}

.member-box_card-profile-photo {
  float: left;
  clear: both;
  width: 200px;
  height: 200px;
}

.member-box_card-profile-text {
  float: left;
  text-align: left;
  color: #fff;
}

.member-box_card-profile-name {
  font-size: .9em;
  font-weight: 300;
  width: 100%;
  margin: 22px 0 0 32px;
}

.member-box_card-profile-name-en {
  font-family: 'Noto Sans';
  font-size: .8em;
  font-weight: 100;
  width: 100%;
  margin: 3px 0 0 32px;
}

.member-box_card-profile-position {
  font-family: 'Noto Sans JP', 'Noto Sans';
  font-size: .8em;
  font-weight: 300;
  width: 100%;
  margin: 10px 0 0 32px;
}

.member-box_card-profile-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 14px 0 0 32px;
}

.member-box_card-profile-media-icon {
  margin-right: 6px;
}

.member-box_card-profile-media-icon img {
  width: 23px;
  height: 23px;
}

.contact {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  text-align: center;
}

.footer {
  font-family: 'Noto Sans', 'Noto Sans JP';
  font-size: .7em;
  font-weight: 300;
  position: relative;
  width: 100%;
  height: 90px;
  color: #fff;
  background-color: #262025;
}

.footer-box {
  width: 860px;
  margin: 0 auto;
}

.footer-box_logo {
  float: left;
  clear: both;
  width: 100px;
  margin-top: 26px;
}

.footer-box_nav {
  float: right;
  width: calc( 100% - 150px);
  height: 56px;
  margin-top: 16px;
  text-align: right;
}

.footer-box_nav-sns {
  font-size: 1.1em;
}

.footer-box_nav-sns a {
  text-decoration: none;
  color: #fff;
}

.footer-box_nav-contact-form-link {
  margin-top: 6px;
}

.footer-box_nav-contact-form-link a {
  text-decoration: none;
  color: #0ac;
}

.footer-box_nav-copyright {
  display: inline-block;
  width: 100%;
  height: 14px;
  margin-top: 5px;
}

.breadcrumbs {
  font-size: .7em;
  margin: 0 auto;
  padding: 82px 0 2px 0;
  background-color: #fff;
}

.breadcrumbs ol {
  width: 85%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li a {
  text-decoration: none;
  color: #0ac;
}

.breadcrumbs li:before {
  content: '＞';
}

.breadcrumbs li:first-child:before {
  content: '';
}

.pagination {
  font-size: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
  padding: 0;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination li {
  display: block;
  margin: 0 8px;
  background-color: #fff;
}

.pagination li a {
  display: block;
  padding: 7px 13px;
  text-decoration: none;
  color: #0ac;
}

.pagination_disabled {
  display: none;
}

.page-wrapper {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
}

.page-wrapper h2 {
  font-family: 'futura';
  font-size: 2.0em;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  margin: 60px auto;
  padding: 0;
  text-align: center;
  color: #262025;
}

.page-wrapper h3 {
  font-family: 'futura';
  font-size: 1.4em;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  margin: 30px auto;
  padding: 0;
  text-align: left;
  color: #262025;
}

.page-heading {
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: #fff;
}

.page-heading h1 {
  font-family: 'futura';
  font-size: 2.0em;
  font-weight: 500;
  line-height: 107px;
  margin: 0;
  padding: 0;
  color: #0ac;
}

.page-main {
  margin: 0 auto;
}

.news-box {
  width: 860px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.news-article-list {
  margin-top: 50px;
}

.news-article-list_load-more-button {
  line-height: 40px;
  width: 200px;
  height: 43px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  color: #0ac;
  border: 3px #0ac solid;
}

.news-article-list_load-more-text {
  font-family: 'futura';
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #0ac;
}

.about {
  width: 100%;
  height: 630px;
  background-color: #262025;
}

.about h2 {
  color: #fff;
}

.about-box {
  font-family: 'Noto Sans JP';
  width: 860px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.about-box_title {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 auto;
}

.about-box_description {
  font-weight: 200;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 60px;
}

.partnership {
  width: 100%;
  background-color: #fff;
}

.partnership h2 {
  color: #262025;
}

.partnership-box {
  width: 860px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.partnership-box_partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.partnership-box_partner-list img {
  width: 150px;
  height: 150px;
}

.creator {
  width: 100%;
}

.creator-box {
  width: 860px;
  margin: 0 auto;
  padding-bottom: 80px;
  text-align: left;
}

.creator-box_creator-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.creator-box_creator-card {
  width: 210px;
  height: auto;
  margin-right: 8px;
  margin-bottom: 10px;
}

.creator-box_creator-photo {
  width: 210px;
  height: 140px;
  margin-bottom: 3px;
}

.creator-box_creator-name {
  font-family: 'Noto Sans';
  font-size: .9em;
}

.recruitment {
  width: 100%;
  padding-bottom: 80px;
  background-color: #fff;
}

.recruitment h2 {
  color: #262025;
}

.recruitment-box {
  font-family: 'Noto Sans JP';
  width: 860px;
  margin: 0 auto;
  text-align: center;
  color: #262025;
}

.recruitment-box a {
  display: block;
  margin-top: 30px;
}

.recruitment-box_overview {
  width: 100%;
}

.recruitment-box_overview dt {
  line-height: 2.6em;
  display: block;
  float: left;
  clear: both;
  width: 200px;
  margin-right: 10px;
  text-align: left;
}

.recruitment-box_overview dd {
  line-height: 2.5em;
  display: block;
  float: right;
  width: 60%;
  text-align: left;
}

.recruitment-box_overview hr {
  margin: 10px 0;
  border: .5px solid #ddd;
}

.offer {
  width: 100%;
  padding-bottom: 80px;
}

.offer h2 {
  color: #262025;
}

.offer-box {
  font-family: 'Noto Sans JP';
  width: 860px;
  margin: 0 auto;
  text-align: center;
  color: #262025;
}

.offer-box a {
  display: block;
  margin-top: 30px;
}

.case-study {
  width: 100%;
  padding-bottom: 80px;
  background: #fff;
}

.case-study h2 {
  color: #262025;
}

.case-study-box {
  font-family: 'Noto Sans JP';
  width: 860px;
  margin: 0 auto;
  text-align: center;
  color: #262025;
}

.case-study-box a {
  display: block;
  margin-top: 30px;
}

.article-heading {
  width: 100%;
  padding: 56px 0 60px 0;
  text-align: center;
  background-color: #fff;
}

.article-heading h1 {
  font-family: 'futura';
  font-size: 1.7em;
  font-weight: 500;
  width: 85%;
  margin: 0 auto;
  padding: 0;
  color: #262025;
}

.article-eyecatch {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-main {
  margin: 0 auto;
  padding-top: 30px;
  background-color: #f0f0f0;
}

.article-box {
  width: 860px;
  margin: 0 auto;
  padding-bottom: 80px;
  text-align: left;
}

.article-box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.article-box-top_date {
  font-size: .9em;
}

.article-box-top_category {
  font-size: .9em;
  line-height: 23px;
  margin-left: 20px;
  color: #0ac;
}

.article-box-top_category a {
  font-size: .9em;
  text-decoration: none;
  color: #0ac;
}

.article-box_tags {
  margin: 10px 0 30px 0;
}

.article-box_tags a {
  font-size: .8em;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  text-decoration: none;
  color: #262025;
}

.article-box_share-button {
  position: fixed;
  top: 50%;
  left: 0;
}

.article-box_share-button a {
  text-decoration: none;
  color: #fff;
}

.article-box_share-button ul {
  padding: 0;
}

.article-box_share-button ul li {
  display: block;
  width: 60px;
  margin: 5px 5px 5px 0;
  padding: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-align: right;
  border-radius: 0 30px 30px 0;
  background: rgba(0, 0, 0, 0.36);
}

.article-box_share-button ul li i {
  font-size: 1.2em;
  width: 20px;
  height: 20px;
  margin-left: 11px;
  padding: 10px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000;
  border-radius: 50%;
  background: #fff;
  background: #fff;
}

.article-box_content {
  font-size: .9em;
  line-height: 2.0;
  padding-top: 5px;
}

.article-box_image {
  display: block;
  width: 100%;
}

.profile-heading {
  width: 100%;
  padding: 56px 0 60px 0;
  text-align: center;
  background-color: #fff;
}

.profile-heading h1 {
  font-family: 'Noto Sans';
  font-size: 1.7em;
  font-weight: 500;
  width: 85%;
  margin: 0 auto;
  padding: 0;
  color: #262025;
}

.profile-eyecatch {
  display: block;
  width: 860px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-main {
  width: 860px;
  margin: 0 auto;
}

.profile-box {
  width: 860px;
  margin: 0 auto;
  padding-bottom: 80px;
  text-align: left;
}

.profile-box_youtube {
  display: block;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.profile-box_share-button {
  position: fixed;
  top: 50%;
  left: 0;
}

.profile-box_share-button a {
  text-decoration: none;
  color: #fff;
}

.profile-box_share-button ul {
  padding: 0;
}

.profile-box_share-button ul li {
  display: block;
  width: 60px;
  margin: 5px 5px 5px 0;
  padding: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-align: right;
  border-radius: 0 30px 30px 0;
  background: rgba(0, 0, 0, 0.36);
}

.profile-box_share-button ul li i {
  font-size: 1.2em;
  width: 20px;
  height: 20px;
  margin-left: 11px;
  padding: 10px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000;
  border-radius: 50%;
  background: #fff;
  background: #fff;
}

.profile-box_content {
  font-size: .9em;
  line-height: 24px;
  padding-top: 30px;
}

.profile-box_content h2 {
  font-weight: 500;
}

@media screen and (min-width: 980px) {
  .article-box_share-button ul li:hover {
    width: 100px;
    background: rgba(0, 0, 0, 0.1);
  }

  .article-box_share-button ul li:hover a {
    color: #000;
  }

  .article-box_share-button ul li:hover i {
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #fff;
    background: #000;
  }

  .article-box_share-button ul li:hover .article-box_share-button-twitter {
    background-color: #55acee !important;
  }

  .article-box_share-button ul li:hover .article-box_share-button-facebook {
    background-color: #315096 !important;
  }

  .profile-box_share-button ul li:hover {
    width: 100px;
    background: rgba(0, 0, 0, 0.1);
  }

  .profile-box_share-button ul li:hover a {
    color: #000;
  }

  .profile-box_share-button ul li:hover i {
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #fff;
    background: #000;
  }

  .profile-box_share-button ul li:hover .profile-box_share-button-twitter {
    background-color: #55acee !important;
  }

  .profile-box_share-button ul li:hover .profile-box_share-button-facebook {
    background-color: #315096 !important;
  }
}

@media screen and (max-width: 980px) {
  .home-nav {
    height: 50px;
  }

  .page-nav {
    height: 68px;
  }

  .home-nav_nav-list {
    font-size: .8em;
    width: 360px;
    margin-right: 28px;
  }

  .news-box {
    width: 680px;
  }

  .article-list_text-block-title {
    font-size: .8em;
  }

  .vision {
    height: 740px;
  }

  .vision-box {
    width: 680px;
  }

  .services-box {
    width: 680px;
  }

  .services-box_card {
    width: 320px;
  }

  .services-box_card-logo {
    height: 200px;
  }

  .services-box_card-description {
    height: 120px;
  }

  .services-box_card-description-text {
    line-height: 16px;
    top: 22px;
    height: 77px;
  }

  .plus-sign {
    font-size: 20px;
    top: -5%;
    right: -89%;
  }

  .company-box {
    width: 680px;
  }

  .member-box {
    width: 680px;
  }

  .member-box_card {
    width: calc( 680px / 2);
    height: 150px;
  }

  .member-box_card-profile-photo {
    width: 150px;
    height: 150px;
  }

  .member-box_card-profile-name {
    font-size: .8em;
    margin: 16px 0 0 24px;
  }

  .member-box_card-profile-name-en {
    font-size: .7em;
    margin: 3px 0 0 24px;
  }

  .member-box_card-profile-position {
    font-size: .7em;
    margin: 8px 0 0 24px;
  }

  .member-box_card-profile-media {
    margin: 10px 0 0 24px;
  }

  .member-box_card-profile-media-icon img {
    width: 18px;
    height: 18px;
  }

  .footer-box {
    width: 680px;
  }

  .news-box {
    width: 680px;
  }

  .about-box {
    width: 680px;
  }

  .partnership-box {
    width: 680px;
  }

  .creator-box {
    width: 680px;
  }

  .recruitment-box {
    width: 680px;
  }

  .offer-box {
    width: 680px;
  }

  .case-study-box {
    width: 680px;
  }

  .article-box {
    width: 680px;
  }

  .profile-main {
    width: 680px;
  }

  .profile-box {
    width: 680px;
  }

  .profile-box_youtube {
    height: 300px;
  }
}

@media screen and (max-width: 680px) {
  .home-nav {
    height: auto;
  }

  .page-nav {
    height: 66px;
  }

  .home-nav_logo {
    display: none;
  }

  .home-nav_menu {
    position: fixed;
    z-index: 30;
    top: 15px;
    right: 14px;
    display: block;
  }

  .home-nav_menu-text {
    font-family: 'Noto Sans';
    font-size: .6em;
    font-weight: 100;
    margin-top: 0;
    margin-left: 1px;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
  }

  .home-nav_nav-list {
    display: none;
  }

  .scroll-top {
    right: 14px;
    bottom: 14px;
    width: 40px;
    height: 40px;
  }

  .scroll-top a {
    width: 40px;
    height: 40px;
  }

  .scroll-top a img {
    width: 24px;
    height: 24px;
  }

  .wrapper h2 {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    font-size: 1.5em;
    margin: 40px auto;
  }

  .hero-box {
    width: 100%;
  }

  .hero-box_logo {
    width: 50%;
  }

  .hero-box_catch-phrase {
    font-size: .9em;
    width: 60%;
    letter-spacing: 3px;
  }

  .news {
    padding-bottom: 30px;
  }

  .news-box {
    width: 80%;
  }

  .article-list_thumbnail img {
    width: 75px;
    height: 50px;
  }

  .article-list_text-block {
    margin-left: 14px;
  }

  .article-list_text-block hr {
    margin: 4px 0;
  }

  .article-list_text-block-date {
    font-size: .5em;
  }

  .article-list_text-block-title {
    font-size: .65em;
  }

  .article-list_view-all-button {
    line-height: 26px;
    width: 100px;
    height: 32px;
    margin-top: 30px;
    border: 2px #0ac solid;
  }

  .article-list_view-all-text {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    font-size: .7em;
  }

  .vision {
    height: 620px;
  }

  .vision-box {
    width: 80%;
  }

  .vision-box_title {
    font-size: 1.2em;
  }

  .vision-box_description {
    font-size: .7em;
    line-height: 26px;
    margin-top: 40px;
  }

  .services {
    padding-bottom: 60px;
  }

  .services-box {
    width: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .services-box_card {
    width: 100%;
  }

  .services-box_card-logo {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
  }

  .services-box_card-logo a img {
    width: 65%;
    max-width: 65%;
    margin-top: 6px;
  }

  .services-box_card-logo a .services-box_card-logo_fukuoka-calling {
    width: 56%;
    max-width: 56%;
    margin-top: 8px;
  }

  .services-box_card-description {
    height: 100px;
  }

  .services-box_card-service-name {
    font-size: .7em;
    padding-top: 12px;
  }

  .services-box_card-description-text {
    font-size: .5em;
    line-height: 16px;
    top: 28px;
    height: auto;
  }

  .plus-sign {
    font-size: 18px;
    right: -90%;
  }

  .company {
    padding-bottom: 30px;
  }

  .company-box {
    width: 80%;
  }

  .company-overview dt {
    font-size: .7em;
    margin-right: 0;
  }

  .company-overview dd {
    font-size: .7em;
  }

  .company-overview_office-address {
    padding-top: 7px;
  }

  .company-overview_business-contents {
    margin-top: 10px;
  }

  .company-overview_business-name {
    margin-top: -2px;
  }

  .company-overview_business-description {
    font-size: .2;
    line-height: 14px;
    margin-top: 1px;
  }

  .member {
    padding-bottom: 60px;
  }

  .member-box {
    width: 80%;
  }

  .member-box_card {
    width: 100%;
    height: 120px;
  }

  .member-box_card-profile-photo {
    width: 120px;
    height: 120px;
  }

  .member-box_card-profile-name {
    font-size: .8em;
    margin: 14px 0 0 20px;
  }

  .member-box_card-profile-name-en {
    font-size: .6em;
    margin: 2px 0 0 20px;
  }

  .member-box_card-profile-position {
    font-size: .7em;
    margin: 5px 0 0 20px;
  }

  .member-box_card-profile-media {
    margin: 5px 0 0 20px;
  }

  .member-box_card-profile-media-icon img {
    width: 16px;
    height: 16px;
  }

  .footer-box {
    width: 80%;
  }

  .footer-box_logo {
    width: 60px;
    margin-top: 32px;
  }

  .footer-box_nav {
    font-size: .8em;
  }

  .breadcrumbs {
    font-size: .6em;
    padding-top: 78px;
  }

  .pagination {
    font-size: .7em;
    margin-top: 30px;
  }

  .pagination li {
    margin: 0 2px;
  }

  .pagination li a {
    padding: 5px 9px;
  }

  .page-wrapper h2 {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    font-size: 1.5em;
    margin: 40px auto;
  }

  .page-wrapper h3 {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    font-size: .9em;
    margin: 20px auto;
  }

  .page-heading {
    height: 120px;
  }

  .page-heading h1 {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
  }

  .news-box {
    width: 80%;
    padding-bottom: 30px;
  }

  .news-article-list {
    margin-top: 30px;
  }

  .news-article-list_load-more-button {
    line-height: 26px;
    width: 100px;
    height: 32px;
    margin-top: 30px;
    border: 2px #0ac solid;
  }

  .news-article-list_load-more-text {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    font-size: .7em;
  }

  .about {
    height: 590px;
  }

  .about-box {
    width: 80%;
  }

  .about-box_title {
    font-size: 1.2em;
  }

  .about-box_description {
    font-size: .7em;
    line-height: 26px;
    margin-top: 40px;
  }

  .partnership-box {
    width: 80%;
    padding-bottom: 60px;
  }

  .partnership-box_partner-list img {
    width: 100px;
    height: 100px;
  }

  .creator-box {
    width: 80%;
    padding-bottom: 60px;
  }

  .creator-box_creator-list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .creator-box_creator-card {
    width: 135px;
    margin-right: 0;
  }

  .creator-box_creator-photo {
    width: 135px;
    height: 90px;
  }

  .creator-box_creator-name {
    font-size: .8em;
  }

  .recruitment {
    padding-bottom: 60px;
  }

  .recruitment-box {
    width: 80%;
  }

  .recruitment-box_overview dt {
    font-size: .7em;
    width: 20%;
    margin-right: 0;
  }

  .recruitment-box_overview dd {
    font-size: .7em;
  }

  .offer {
    padding-bottom: 60px;
  }

  .offer-box {
    width: 80%;
  }

  .case-study {
    padding-bottom: 60px;
  }

  .case-study-box {
    width: 80%;
  }

  .article-heading {
    padding: 28px 0 30px 0;
  }

  .article-heading h1 {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    font-size: 1.2em;
  }

  .article-eyecatch {
    height: 180px;
  }

  .article-main {
    padding-top: 16px;
  }

  .article-box {
    width: 75%;
    padding-bottom: 60px;
  }

  .article-box-top_date {
    font-size: .7em;
  }

  .article-box-top_category {
    font-size: .8em;
    line-height: 16px;
    margin-left: 12px;
  }

  .article-box-top_category a {
    font-size: .7em;
  }

  .article-box_tags {
    margin: 0 0 14px 0;
  }

  .article-box_tags a {
    font-size: .6em;
    margin-right: 6px;
  }

  .article-box_share-button {
    top: 60%;
  }

  .article-box_share-button ul li {
    width: 22px;
    padding: 2px 6px 5px 3px;
    -webkit-transition: none;
    transition: none;
    border-radius: 0 15px 15px 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .article-box_share-button ul li i {
    font-size: .5em;
    width: 9px;
    height: 9px;
    margin-left: 0;
    padding: 7px 7px 7px 7px;
    color: #fff;
  }

  .article-box_share-button ul li .article-box_share-button-twitter {
    background-color: #55acee !important;
  }

  .article-box_share-button ul li .article-box_share-button-facebook {
    background-color: #315096 !important;
  }

  .article-box_content {
    font-size: .65em;
    padding-top: 8px;
  }

  .profile-heading {
    padding: 28px 0 30px 0;
  }

  .profile-heading h1 {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    font-size: 1.2em;
  }

  .profile-eyecatch {
    height: 180px;
  }

  .profile-main {
    width: 80%;
  }

  .profile-box {
    width: 80%;
    padding-bottom: 60px;
  }

  .profile-box_youtube {
    height: 150px;
  }

  .profile-box_share-button {
    top: 60%;
  }

  .profile-box_share-button ul li {
    width: 22px;
    padding: 2px 6px 5px 3px;
    -webkit-transition: none;
    transition: none;
    border-radius: 0 15px 15px 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .profile-box_share-button ul li i {
    font-size: .5em;
    width: 9px;
    height: 9px;
    margin-left: 0;
    padding: 7px 7px 7px 7px;
    color: #fff;
  }

  .profile-box_share-button ul li .profile-box_share-button-twitter {
    background-color: #55acee !important;
  }

  .profile-box_share-button ul li .profile-box_share-button-facebook {
    background-color: #315096 !important;
  }

  .profile-box_content {
    font-size: .65em;
    padding-top: 8px;
  }
}