{{ range .Site.Data.member }}
<div class="member-box_card">
  <!--<a href="/member/{{ .url }}">--><img src="images/{{ .image }}" class="member-box_card-profile-photo" alt="" /><!--</a>-->
  <div class="member-box_card-profile-text">
    <div class="member-box_card-profile-name">
      {{ .name }}
    </div>
    <div class="member-box_card-profile-name-en">
      {{ .name_en }}
    </div>
    <div class="member-box_card-profile-position">
      {{ .position }}
    </div>
    <div class="member-box_card-profile-media">
      {{ if .media.twitter }}
      <a href="{{ .media.twitter }}" target="_blank" class="member-box_card-profile-media-icon">
        <img src="images/twitter-icon@2x.png" alt="" />
      </a>
      {{ end }}
      {{ if .media.facebook }}
      <a href="{{ .media.facebook }}" target="_blank" class="member-box_card-profile-media-icon">
        <img src="images/facebook-icon@2x.png" alt="" />
      </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
