<footer class="footer">
  <div class="footer-box">
    <a href="/"><img src="/images/frenel-logo-white.png" alt="" class="footer-box_logo" /></a>
    <div class="footer-box_nav">
      <div class="footer-box_nav-sns">
        <!--<a href="">-->Facebook<!--</a>--> / <a href="https://www.instagram.com/kadode_frenel/" target="_blank">Instagram</a>
      </div>
      <div class="footer-box_nav-contact-form-link">お問い合わせは <a href="https://form.run/@frenel" target="_blank">こちら</a></div>
      <small class="footer-box_nav-copyright">©️ 2018 Frenel, LLC.</small>
    </div>
  </div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push( [ '_setAccount', 'UA-114784424-1' ] );
  _gaq.push( [ '_trackPageview' ] );

  ( function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
        'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  } )();

</script>

</body>
</html>
