<nav class="home-nav">
  <div class="home-nav_logo">
    <a href="/"><img src="/images/frenel-logo-white.png" alt="Frenelロゴ" /></a>
  </div>
  <!--
  <div class="home-nav_localize">
  </div>
  -->

  <!-- PC -->
  <ul class="home-nav_nav-list">
    <li><a href="#news">NEWS</a></li>
    <li><a href="#vision">VISION</a></li>
    <li><a href="#services">SERVICES</a></li>
    <li><a href="#company">COMPANY</a></li>
    <li><a href="#member">MEMBER</a></li>
  </ul>
  <div class="clearfix"></div>
</nav>

<!-- SP -->
<div class="home-nav_menu">
  <a class="menu-trigger" href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <div class="home-nav_menu-text">MENU</div>
</div>

<nav class="home-nav-sp">
  <!--
  <div class="home-nav-sp_logo">
    <a href="#scroll-top"><img src="images/vision.jpg" alt="" /></a>
  </div>
  -->
  <ul class="home-nav-sp_nav-list">
    <li class="home-nav-sp_logo"><a href="/"><img src="/images/frenel-logo-white.png" alt="Frenelロゴ" /></a></li>
    <br /><br />
    <li><a href="#news">NEWS</a></li>
    <li><a href="#vision">VISION</a></li>
    <li><a href="#services">SERVICES</a></li>
    <li><a href="#company">COMPANY</a></li>
    <li><a href="#member">MEMBER</a></li>
  </ul>
</nav>
