@import url( 'https://fonts.googleapis.com/earlyaccess/notosansjp.css' );
@import url( 'https://fonts.googleapis.com/css?family=Noto+Sans' );
@import url( 'https://fonts.googleapis.com/css?family=Quicksand' );
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans' );
@import url( 'https://fonts.googleapis.com/css?family=Josefin+Sans' );
@import url( 'https://fonts.googleapis.com/css?family=Sacramento' );

@font-face {
  font-family: 'futura';
  src: url( '../fonts/futura/Futura-Med.otf' ) format( 'otf' );
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url( '../fonts/futura/Futura-Boo.otf' ) format( 'otf' );
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url( '../fonts/futura/Futura-Lig.otf' ) format( 'otf' );
  font-weight: 100;
  font-style: normal;
}

@mixin max-screen( $breakpoint ) {
  @media screen and ( max-width: $breakpoint ) {
    @content;
  }
}

@mixin min-screen( $breakpoint ) {
  @media screen and ( min-width: $breakpoint ) {
    @content;
  }
}

@mixin screen( $breakpoint-min, $breakpoint-max ) {
  @media screen and ( min-width: $breakpoint-min ) and ( max-width: $breakpoint-max ) {
    @content;
  }
}

@mixin view-all-colors( $view-all-color ) {
  color: $view-all-color;
  text-decoration: none;
}

@mixin link-colors( $link-color ) {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: lighten( $link-color, 15% );
  }

  &:visited {
    color: desaturate( $link-color, 50% );
  }
}

$base-font: 'Noto Sans JP', 'futura', 'Noto Sans', 'Open Sans', 'Quicksand', 'Helvetica', sans-serif;
$android-font: 'Josefin Sans', 'Helvetica', sans-serif;
$breakpoint-tablet: 980px;
$breakpoint-mobile: 680px;
$black-color: #5F5F5F;
$thick-black-color: #262025;
$white-color: #FFFFFF;
$background-gray-color: #F0F0F0;
$corporate-color: #00aacc;
//$corporate-sub-color: #c2d88c;
$corporate-sub-color: #FF6088;
$box-width-pc: 860px;
$box-width-tablet: 680px;
$box-width-mobile: 80%;

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: $base_font;
  font-size: 16px;
  color: $black-color;
  overflow-x: hidden;
}

img{
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

//////////////
// home nav //
//////////////
.home-nav {
  position: fixed;
  width: 100%;
  height: 60px;
  overflow: hidden;
  z-index: 20;
  //border: 1px solid;

  @include max-screen( $breakpoint-tablet ) {
    height: 50px;
  }

  @include max-screen( $breakpoint-mobile ) {
    height: auto;
  }
}

.page-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  background-color: $corporate-color;
  overflow: hidden;
  z-index: 20;

  @include max-screen( $breakpoint-tablet ) {
    height: 68px;
  }

  @include max-screen( $breakpoint-mobile ) {
    height: 66px;
  }
}

.home-nav_logo {
  float: left;
  margin-top: 18px;
  margin-left: 30px;
  width: 76px;

  @include max-screen( $breakpoint-mobile ) {
    display: none;
  }

  img {
    max-width: 100%;
  }
}

////////////////////////////
// SP用ナビゲーションメニュー //
////////////////////////////
.home-nav_menu {
  display: none;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    display: block;
    position: fixed;
    top: 15px;
    right: 14px;
    z-index: 30;
  }
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 35px;
  height: 22px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type( 1 ) {
  top: 0;
}

.menu-trigger span:nth-of-type( 2 ) {
  top: 10px;
}

.menu-trigger span:nth-of-type( 3 ) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type( 1 ) {
  -webkit-transform: translateY( 10px ) rotate( -45deg );
          transform: translateY( 10px ) rotate( -45deg );
}
.menu-trigger.active span:nth-of-type( 2 ) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type( 3 ) {
  -webkit-transform: translateY( -10px ) rotate( 45deg );
          transform: translateY( -10px ) rotate( 45deg );
}

.home-nav_menu-text {
  @include max-screen( $breakpoint-mobile ) {
    margin-top: 0px;
    margin-left: 1px;
    color: $white-color;
    font-family: 'Noto Sans';
    font-size: 0.6em;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
  }
}

.home-nav-sp {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: $android-font;
  overflow: hidden;
  background-color: rgba( 0, 0, 0, 0.6 );
  z-index: 20;
  //border: 1px solid;
}

.home-nav-sp_nav-list {
  margin: 0 auto;
  margin-top: 90px;
  padding: 0;
  width: 80%;
  max-width: 80%;
  font-size: 1.4em;
  list-style: none;
  //border: 1px solid;

  li {
    margin-bottom: 22px;
    padding: 0;
    width: 100%;
    text-align: center;
    //border: 1px solid;

    a {
      color: $white-color;
      font-family: $android-font;
      font-weight: 300;
      text-decoration: none;
    }
  }
}

.home-nav-sp_logo {
  margin: 0 auto;
  width: 50%;
  max-width: 50%;
  text-align: center;

  img {
    max-width: 100%;
  }
}

///////////////////////////////////
// PC/Tablet用ナビゲーションメニュー //
///////////////////////////////////
.home-nav_nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
  margin-top: 22px;
  margin-right: 30px;
  width: 400px;
  font-size: 0.9em;
  list-style: none;
  //border: 1px solid;

  @include max-screen( $breakpoint-tablet ) {
    //margin-top: 18px;
    margin-right: 28px;
    width: 360px;
    font-size: 0.8em;
  }

  @include max-screen( $breakpoint-mobile ) {
    display: none;
  }

  li {
    padding: 0;
    text-align: center;
    //border: 1px solid;

    a {
      color: $white-color;
      font-family: 'futura';
      font-weight: 100;
      text-decoration: none;
    }
  }
}

///////////////////
// スクロールトップ //
///////////////////
.scroll-top {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background-color: $corporate-color;
  z-index: 30;

  @include max-screen( $breakpoint-mobile ) {
    right: 14px;
    bottom: 14px;
    width: 40px;
    height: 40px;
  }

  a {
    display: block;
    width: 50px;
    height: 50px;

    @include max-screen( $breakpoint-mobile ) {
      width: 40px;
      height: 40px;
    }

    img {
      margin-top: 8px;
      margin-left: 8px;
      width: 34px;
      height: 34px;

      @include max-screen( $breakpoint-mobile ) {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.scroll-top:hover {
  opacity: 0.7;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.display-effect {
  opacity: 0;
	-webkit-transform: translate( 0, 70px );
	        transform: translate( 0, 70px );
  -webkit-transition : all 1000ms;
  transition : all 1000ms;
}

.display-effect_scrollin {
  opacity: 1.0;
	-webkit-transform: translate( 0, 0 );
	        transform: translate( 0, 0 );
}

////////////////
// トップページ //
////////////////
.wrapper {
  width: 100%;

  h2 {
    display: inline-block;
    margin: 60px auto;
    padding: 0;
    width: 100%;
    color: $thick-black-color;
    font-family: 'futura';
    font-size: 2.0em;
    font-weight: 500;
    text-align: center;

    @include max-screen( $breakpoint-mobile ) {
      margin: 40px auto;
      font-family: $android-font;
      font-size: 1.5em;
    }
  }
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background: -webkit-gradient( linear, left top, left bottom, from($corporate-color), to($corporate-sub-color) );
  background: linear-gradient( 180deg, $corporate-color, $corporate-sub-color );
  background-size: 400% 400%;
  -webkit-animation: gradationHero 8s ease infinite;
          animation: gradationHero 8s ease infinite;
}

@-webkit-keyframes gradationHero {
    0%{ background-position:50% 0% }
    50%{ background-position:50% 100% }
    100%{ background-position:50% 0% }
}

@keyframes gradationHero {
    0%{ background-position:50% 0% }
    50%{ background-position:50% 100% }
    100%{ background-position:50% 0% }
}

.hero-box {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 650px;
  //border: 1px solid;

  @include max-screen( $breakpoint-mobile ) {
    width: 100%;
  }
}

.hero-box_logo {
  margin: 0 auto;
  width: 360px;

  @include max-screen( $breakpoint-mobile ) {
    width: 50%;
  }

  img {
    max-width: 100%;
  }
}

.hero-box_catch-phrase {
  margin: 0 auto;
  margin-top: 120px;
  width: 100%;
  color: $white-color;
  font-family: 'futura';
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 6px;
  text-align: center;

  @include max-screen( $breakpoint-mobile ) {
    width: 60%;
    font-size: 0.9em;
    letter-spacing: 3px;
  }
}

//////////
// NEWS //
//////////
.news {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  text-align: center;
  background-color: #F0F0F0;

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 30px;
  }
}

.news-box {
  margin: 0 auto;
  width: $box-width-pc;
  //height: 600px;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
    //height: 400px;
  }
}

.article-list {
  width: 100%;
  text-align: left;

}

.article-list_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.article-list_thumbnail {
  margin: 0;
  padding: 0;

  img {
    width: 150px;
    height: 100px;
    object-fit: cover;

    @include max-screen( $breakpoint-tablet ) {

    }

    @include max-screen( $breakpoint-mobile ) {
      width: 75px;
      height: 50px;
    }
  }
}

.article-list_text-block {
  margin-left: 26px;
  width: 100%;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    margin-left: 14px;
  }

  hr {
    width: 100%;
    height: 1px;
    text-align: left;
    background-color: #C2C2C2;
    border: none;

    @include max-screen( $breakpoint-mobile ) {
      margin: 4px 0;
    }
  }
}

.article-list_text-block-date {
  font-size: 0.8em;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    font-size: 0.5em;
  }
}

.article-list_text-block-title {
  font-family: 'Noto Sans JP';
  font-size: 0.9em;
  font-weight: 700;

  @include max-screen( $breakpoint-tablet ) {
    font-size: 0.8em;
  }

  @include max-screen( $breakpoint-mobile ) {
    font-size: 0.65em;
  }
}

.article-list_text-block-title-link {
  color: $black-color;
  text-decoration: none;
}

.article-list_view-all-button {
  margin: 0 auto;
  margin-top: 50px;
  width: 200px;
  height: 43px;
  line-height: 40px;
  color: $corporate-color;
  text-align: center;
  border: 3px $corporate-color solid;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: 30px;
    width: 100px;
    height: 32px;
    line-height: 26px;
    border: 2px $corporate-color solid;
  }
}

.article-list_view-all-text {
  display: inline-block;
  width: 100%;
  font-family: 'futura';
  @include view-all-colors( $corporate-color );

  @include max-screen( $breakpoint-mobile ) {
    font-family: $android-font;
    font-size: 0.7em;
  }
}

.vision {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: #000;
  background-image: url( '../images/vision.jpg' );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  @include max-screen( $breakpoint-tablet ) {
    height: 740px;
  }

  @include max-screen( $breakpoint-mobile ) {
    height: 620px;
  }

  h2 {
    color: $corporate-color;
  }
}

.vision::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background-color: rgba( 0,0,0,0.6 );
	content: ' ';
}

.vision-box {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: $box-width-pc;
  color: $white-color;
  font-family: 'Noto Sans JP';
  text-align: center;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
  }
}

.vision-box_title {
  margin: 0 auto;
  font-size: 1.8em;
  font-weight: 300;

  @include max-screen( $breakpoint-mobile ) {
    font-size: 1.2em;
  }
}

.vision-box_description {
  margin: 0 auto;
  margin-top: 60px;
  line-height: 30px;
  font-weight: 200;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: 40px;
    line-height: 26px;
    font-size: 0.7em;
  }
}

.services {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  text-align: center;
  background-color: #F0F0F0;

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 60px;
  }
}

.services-box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: $box-width-pc;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: $box-width-mobile;
  }
}

.services-box_card {
  width: 400px;
  height: auto;
  -webkit-box-shadow: -4px 6px 16px 4px #ddd;
          box-shadow: -4px 6px 16px 4px #ddd;
  background-color: #fff;

  @include max-screen( $breakpoint-tablet ) {
    width: 320px;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: 100%;
  }
}

.services-box_card-logo {
  width: 100%;
  height: 230px;

  @include max-screen( $breakpoint-tablet ) {
    height: 200px;
  }

  @include max-screen( $breakpoint-mobile ) {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
  }

  a {
    width: 100%;
    height: 100%;

    img {
      width: 65%;
      max-width: 65%;

      @include max-screen( $breakpoint-tablet ) {

      }

      @include max-screen( $breakpoint-mobile ) {
        margin-top: 6px;
        width: 65%;
        max-width: 65%;
      }
    }

    .services-box_card-logo_fukuoka-calling {
      margin-top: 14px;
      width: 52%;
      max-width: 52%;

      @include max-screen( $breakpoint-tablet ) {

      }

      @include max-screen( $breakpoint-mobile ) {
        margin-top: 8px;
        width: 56%;
        max-width: 56%;
      }
    }
  }
}

.services-box_card-description {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: $thick-black-color;

  @include max-screen( $breakpoint-tablet ) {
    height: 120px;
  }

  @include max-screen( $breakpoint-mobile ) {
    height: 100px;
  }
}

.services-box_card-service-name {
  padding-top: 18px;
  color: $white-color;
  font-size: 0.8em;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    padding-top: 12px;
    font-size: 0.7em;
  }
}

.services-box_card-description-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 12px;
  width: 83%;
  line-height: 20px;
  color: #ddd;
  font-size: 0.7em;
  font-weight: 300;
  text-align: left;
  //border: 1px solid;

  @include max-screen( $breakpoint-tablet ) {
    top: 22px;
    height: 77px;
    line-height: 16px;
    //border: 1px solid;
  }

  @include max-screen( $breakpoint-mobile ) {
    top: 28px;
    height: auto;
    line-height: 16px;
    font-size: 0.5em;
    //border: 1px solid;
  }
}

.plus-sign {
	position: relative;
  top: -4%;
  right: -90%;
	width: 0.4em;
	height: 1.6em;
  font-size: 22px;
	background-color: $corporate-color;
  z-index: 10;

  @include max-screen( $breakpoint-tablet ) {
    top: -5%;
    right: -89%;
    font-size: 20px;
  }

  @include max-screen( $breakpoint-mobile ) {
    right: -90%;
    font-size: 18px;
  }
}

.plus-sign::before {
	position: absolute;
	top: 0.6em;
	left: -0.6em;
	width: 1.6em;
	height: 0.4em;
	content: "";
	background-color: $corporate-color;

  @include max-screen( $breakpoint-mobile ) {

  }
}

.company {
  padding-bottom: 80px;
  width: 100%;
  height: auto;
  font-family: 'Noto Sans';
  text-align: center;
  //border: 1px solid;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 30px;
  }
}

.company-box {
  margin: 0 auto;
  width: $box-width-pc;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
  }
}

.company-overview {
  width: 100%;
  background-color: $white-color;
  overflow: hidden;

  dt {
    display: block;
    float: left;
    clear: both;
    margin-right: 10px;
    line-height: 3.0em;
    text-align: left;

    @include max-screen( $breakpoint-mobile ) {
      margin-right: 0;
      font-size: 0.7em;
    }
  }

  dd {
    display: block;
    float: right;
    width: 60%;
    line-height: 2.9em;
    text-align: right;

    @include max-screen( $breakpoint-mobile ) {
      font-size: 0.7em;
    }
  }
}

.company-overview_office-address {
  padding-top: 14px;
  line-height: 20px !important;

  @include max-screen( $breakpoint-mobile ) {
    padding-top: 7px;
  }
}

.company-overview_business-contents {
  margin-top: 14px;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: 10px;
  }
}

.company-overview_business-name {
  line-height: 18px;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: -2px;
  }
}

.company-overview_business-description {
  margin-top: 5px;
  margin-bottom: 12px;
  line-height: 18px;
  font-size: 0.7em;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: 1px;
    line-height: 14px;
    font-size: 0.2;
  }
}

.member {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  text-align: center;
  background-color: #F0F0F0;

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 60px;
  }
}

.member-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: $box-width-pc;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
  }
}

.member-box_card {
  margin-bottom: 4px;
  width: calc( #{$box-width-pc} / 2 );
  height: 200px;
  background-color: $corporate-color;

  @include max-screen( $breakpoint-tablet ) {
    width: calc( #{$box-width-tablet} / 2 );
    height: 150px;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: 100%;
    height: 120px;
  }
}

.member-box_card-profile-photo {
  float: left;
  clear: both;
  width: 200px;
  height: 200px;

  @include max-screen( $breakpoint-tablet ) {
    width: 150px;
    height: 150px;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: 120px;
    height: 120px;
  }
}

.member-box_card-profile-text {
  float: left;
  color: $white-color;
  text-align: left;
}

.member-box_card-profile-name {
  margin: 22px 0 0 32px;
  width: 100%;
  font-size: 0.9em;
  font-weight: 300;

  @include max-screen( $breakpoint-tablet ) {
    margin: 16px 0 0 24px;
    font-size: 0.8em;
  }

  @include max-screen( $breakpoint-mobile ) {
    margin: 14px 0 0 20px;
    font-size: 0.8em;
  }
}

.member-box_card-profile-name-en {
  margin: 3px 0 0 32px;
  width: 100%;
  font-family: 'Noto Sans';
  font-size: 0.8em;
  font-weight: 100;

  @include max-screen( $breakpoint-tablet ) {
    margin: 3px 0 0 24px;
    font-size: 0.7em;
  }

  @include max-screen( $breakpoint-mobile ) {
    margin: 2px 0 0 20px;
    font-size: 0.6em;
  }
}

.member-box_card-profile-position {
  margin: 10px 0 0 32px;
  width: 100%;
  font-family: 'Noto Sans JP', 'Noto Sans';
  font-size: 0.8em;
  font-weight: 300;

  @include max-screen( $breakpoint-tablet ) {
    margin: 8px 0 0 24px;
    font-size: 0.7em;
  }

  @include max-screen( $breakpoint-mobile ) {
    margin: 5px 0 0 20px;
    font-size: 0.7em;
  }
}

.member-box_card-profile-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px 0 0 32px;
  width: 100%;

  @include max-screen( $breakpoint-tablet ) {
    margin: 10px 0 0 24px;
  }

  @include max-screen( $breakpoint-mobile ) {
    margin: 5px 0 0 20px;
  }
}

.member-box_card-profile-media-icon {
  margin-right: 6px;

  img {
    width: 23px;
    height: 23px;

    @include max-screen( $breakpoint-tablet ) {
      width: 18px;
      height: 18px;
    }

    @include max-screen( $breakpoint-mobile ) {
      width: 16px;
      height: 16px;
    }
  }
}

.contact {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  text-align: center;
}

.footer {
  position: relative;
  width: 100%;
  height: 90px;
  color: $white-color;
  font-family: 'Noto Sans', 'Noto Sans JP';
  font-size: 0.7em;
  font-weight: 300;
  background-color: $thick-black-color;
}

.footer-box {
  margin: 0 auto;
  width: $box-width-pc;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
  }
}

.footer-box_logo {
  float: left;
  clear: both;
  margin-top: 26px;
  width: 100px;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: 32px;
    width: 60px;
  }
}

.footer-box_nav {
  float: right;
  margin-top: 16px;
  width: calc( 100% - 150px );
  height: 56px;
  text-align: right;
  //border: 1px solid;

  @include max-screen( $breakpoint-mobile ) {
    font-size: 0.8em;
  }
}

.footer-box_nav-sns {
  font-size: 1.1em;

  a {
    color: $white-color;
    text-decoration: none;
  }
}

.footer-box_nav-contact-form-link {
  margin-top: 6px;

  a {
    color: $corporate-color;
    text-decoration: none;
  }
}

.footer-box_nav-copyright {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  height: 14px;
  //border: 1px solid;
}

//////////////////
// パンくずリスト //
//////////////////
.breadcrumbs {
  margin: 0 auto;
  //padding: 65px 55px 2px 30px;
  padding: 82px 0 2px 0;
  font-size: 0.7em;
  background-color: $white-color;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    padding-top: 78px;
    font-size: 0.6em;
  }
}

.breadcrumbs ol {
  margin: 0 auto;
  padding: 0;
  width: 85%;
  list-style-type: none;
}

.breadcrumbs li {
  display: inline;

  a {
    color: $corporate-color;
    text-decoration: none;
  }
}

.breadcrumbs li:before {
  content: '＞';
}

.breadcrumbs li:first-child:before {
  content: '';
}

///////////////////
// ページネーション //
///////////////////
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 70px;
  padding: 0;
  width: 100%;
  font-size: 0.8em;
  list-style: none;
  //border: 1px solid;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: 30px;
    font-size: 0.7em;
  }

  li {
    display: block;
    margin: 0 8px;
    background-color: $white-color;

    @include max-screen( $breakpoint-mobile ) {
      margin: 0 2px;
    }

    a {
      display: block;
      padding: 7px 13px;
      color: $corporate-color;
      text-decoration: none;
      //border: 1px solid;

      @include max-screen( $breakpoint-mobile ) {
        padding: 5px 9px;
      }
    }
  }
}

.pagination_active {

}

.pagination_disabled {
  display: none;
}

//////////////
// 固定ページ //
//////////////
.page-wrapper {
  width: 100%;
  height: auto;
  background-color: #F0F0F0;

  h2 {
    display: inline-block;
    margin: 60px auto;
    padding: 0;
    width: 100%;
    color: $thick-black-color;
    font-family: 'futura';
    font-size: 2.0em;
    font-weight: 500;
    text-align: center;

    @include max-screen( $breakpoint-mobile ) {
      margin: 40px auto;
      font-family: $android-font;
      font-size: 1.5em;
    }
  }

  h3 {
    display: inline-block;
    margin: 30px auto;
    padding: 0;
    width: 100%;
    color: $thick-black-color;
    font-family: 'futura';
    font-size: 1.4em;
    font-weight: 500;
    text-align: left;

    @include max-screen( $breakpoint-mobile ) {
      margin: 20px auto;
      font-family: $android-font;
      font-size: 0.9em;
    }
  }
}

.page-heading {
  width: 100%;
  height: 150px;
  background-color: $white-color;
  text-align: center;
  //border: 1px solid;

  @include max-screen( $breakpoint-mobile ) {
    height: 120px;
  }

  h1 {
    margin: 0;
    padding: 0;
    line-height: 107px;
    color: $corporate-color;
    font-family: 'futura';
    font-size: 2.0em;
    font-weight: 500;

    @include max-screen( $breakpoint-mobile ) {
      font-family: $android-font;
    }
  }
}

.page-main {
  margin: 0 auto;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {

  }
}

//////////
// NEWS //
//////////
.news-box {
  margin: 0 auto;
  padding-bottom: 80px;
  width: $box-width-pc;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 30px;
    width: $box-width-mobile;
  }
}

.news-article-list {
  margin-top: 50px;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: 30px;
  }
}

.news-article-list_load-more-button {
  margin: 0 auto;
  margin-top: 50px;
  width: 200px;
  height: 43px;
  line-height: 40px;
  color: $corporate-color;
  text-align: center;
  border: 3px $corporate-color solid;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: 30px;
    width: 100px;
    height: 32px;
    line-height: 26px;
    border: 2px $corporate-color solid;
  }
}

.news-article-list_load-more-text {
  display: inline-block;
  width: 100%;
  font-family: 'futura';
  @include view-all-colors( $corporate-color );

  @include max-screen( $breakpoint-mobile ) {
    font-family: $android-font;
    font-size: 0.7em;
  }
}

////////////////
// aboutページ //
////////////////
.about {
  width: 100%;
  height: 630px;
  background-color: $thick-black-color;

  @include max-screen( $breakpoint-mobile ) {
    height: 590px;
  }

  h2 {
    color: $white-color;
  }
}

.about-box {
  margin: 0 auto;
  width: $box-width-pc;
  color: $white-color;
  font-family: 'Noto Sans JP';
  text-align: center;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
  }
}

.about-box_title {
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 300;

  @include max-screen( $breakpoint-mobile ) {
    font-size: 1.2em;
  }
}

.about-box_description {
  margin: 0 auto;
  margin-top: 60px;
  line-height: 30px;
  font-weight: 200;

  @include max-screen( $breakpoint-mobile ) {
    margin-top: 40px;
    line-height: 26px;
    font-size: 0.7em;
  }
}

.partnership {
  width: 100%;
  //height: 400px;
  background-color: $white-color;

  h2 {
    color: $thick-black-color;
  }
}

.partnership-box {
  margin: 0 auto;
  padding-bottom: 80px;
  width: $box-width-pc;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 60px;
    width: $box-width-mobile;
  }
}

.partnership-box_description {

}

.partnership-box_partner-list {
  display: flex;
  justify-content: space-around;

  img {
    width: 150px;
    height: 150px;

    @include max-screen( $breakpoint-tablet ) {

    }

    @include max-screen( $breakpoint-mobile ) {
      width: 100px;
      height: 100px;
    }
  }
}

.creator {
  width: 100%;
}

.creator-box {
  margin: 0 auto;
  padding-bottom: 80px;
  width: $box-width-pc;
  text-align: left;
  //border: 1px solid;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 60px;
    width: $box-width-mobile;
  }
}

.creator-box_category {

}

.creator-box_creator-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include max-screen( $breakpoint-mobile ) {
    justify-content: space-around;
  }
}

.creator-box_creator-card {
  margin-right: 8px;
  margin-bottom: 10px;
  width: 210px;
  height: auto;

  @include max-screen( $breakpoint-mobile ) {
    margin-right: 0;
    width: 135px;
  }
}

.creator-box_creator-photo {
  margin-bottom: 3px;
  width: 210px;
  height: 140px;

  @include max-screen( $breakpoint-mobile ) {
    width: 135px;
    height: 90px;
  }
}

.creator-box_creator-name {
  font-family: 'Noto Sans';
  font-size: 0.9em;

  @include max-screen( $breakpoint-mobile ) {
    font-size: 0.8em;
  }
}

.recruitment {
  padding-bottom: 80px;
  width: 100%;
  background-color: $white-color;

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 60px;
  }

  h2 {
    color: $thick-black-color;
  }
}

.recruitment-box {
  margin: 0 auto;
  width: $box-width-pc;
  color: $thick-black-color;
  font-family: 'Noto Sans JP';
  text-align: center;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
  }

  a {
    display: block;
    margin-top: 30px;
  }
}

.recruitment-box_overview {
  width: 100%;

  dt {
    display: block;
    float: left;
    clear: both;
    margin-right: 10px;
    //padding: 0 17px;
    width: 200px;
    line-height: 2.6em;
    text-align: left;
    //background-color: #eee;

    @include max-screen( $breakpoint-mobile ) {
      margin-right: 0;
      width: 20%;
      font-size: 0.7em;
    }
  }

  dd {
    display: block;
    float: right;
    width: 60%;
    line-height: 2.5em;
    text-align: left;

    @include max-screen( $breakpoint-mobile ) {
      font-size: 0.7em;
    }
  }

  hr {
    margin: 10px 0;
    border: 0.5px solid #ddd;
  }
}

.offer {
  width: 100%;
  padding-bottom: 80px;

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 60px;
  }

  h2 {
    color: $thick-black-color;
  }
}

.offer-box {
  margin: 0 auto;
  width: $box-width-pc;
  color: $thick-black-color;
  font-family: 'Noto Sans JP';
  text-align: center;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
  }

  a {
    display: block;
    margin-top: 30px;
  }
}

.case-study {
  width: 100%;
  padding-bottom: 80px;
  background: #fff;


  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 60px;
  }

  h2 {
    color: $thick-black-color;
  }
}

.case-study-box {
  margin: 0 auto;
  width: $box-width-pc;
  color: $thick-black-color;
  font-family: 'Noto Sans JP';
  text-align: center;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
  }

  a {
    display: block;
    margin-top: 30px;
  }
}

//////////////
// 記事ページ //
//////////////
.article-heading {
  padding: 56px 0 60px 0;
  width: 100%;
  background-color: $white-color;
  text-align: center;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    padding: 28px 0 30px 0;
  }

  h1 {
    margin: 0 auto;
    padding: 0;
    width: 85%;
    color: $thick-black-color;
    font-family: 'futura';
    font-size: 1.7em;
    font-weight: 500;

    @include max-screen( $breakpoint-tablet ) {

    }

    @include max-screen( $breakpoint-mobile ) {
      font-family: $android-font;
      font-size: 1.2em;
    }
  }
}

.article-eyecatch {
  max-width: 100%;
  object-fit: cover;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    height: 180px;
  }
}

.article-main {
  margin: 0 auto;
  padding-top: 30px;
  background-color: $background-gray-color;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    padding-top: 16px;
  }
}

.article-box {
  margin: 0 auto;
  padding-bottom: 80px;
  width: $box-width-pc;
  text-align: left;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 60px;
    width: 75%;
  }
}

.article-box-top {
  display: flex;
  justify-content: flex-start;
}

.article-box-top_date {
  font-size: 0.9em;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    font-size: 0.7em;
  }
}

.article-box-top_category {
  margin-left: 20px;
  line-height: 23px;
  color: $corporate-color;
  font-size: 0.9em;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    margin-left: 12px;
    line-height: 16px;
    font-size: 0.8em;
  }

  a {
    color: $corporate-color;
    font-size: 0.9em;
    text-decoration: none;

    @include max-screen( $breakpoint-tablet ) {

    }

    @include max-screen( $breakpoint-mobile ) {
      font-size: 0.7em;
    }
  }
}

.article-box_tags {
  margin: 10px 0 30px 0;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    margin: 0px 0 14px 0;
  }

  a {
    margin: 0;
    margin-right: 8px;
    padding: 0;
    width: 100%;
    height: 100%;
    color: $thick-black-color;
    font-size: 0.8em;
    text-decoration: none;

    @include max-screen( $breakpoint-tablet ) {

    }

    @include max-screen( $breakpoint-mobile ) {
      margin-right: 6px;
      font-size: 0.6em;
    }
  }
}

.article-box_share-button {
  position: fixed;
  top: 50%;
  left: 0;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    top: 60%;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    padding: 0px;
    //-webkit-transform: translate( -270px, 0 );
    //        transform: translate( -270px, 0 );

    li {
      display: block;
      margin: 5px 5px 5px 0;
      background: rgba( 0, 0, 0, 0.36 );
      width: 60px;
      text-align: right;
      padding: 10px;
      border-radius: 0 30px 30px 0;
      -webkit-transition: all 1s;
      transition: all 1s;

      @include max-screen( $breakpoint-tablet ) {

      }

      @include max-screen( $breakpoint-mobile ) {
        padding: 2px 6px 5px 3px;
        width: 22px;
        border-radius: 0 15px 15px 0;
        background: rgba( 0, 0, 0, 0.2 );
        transition: none;
      }

      i {
        margin-left: 11px;
        color: #000;
        background: #fff;
        padding: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 1.2em;
        background: #ffffff;
        -webkit-transform: rotate( 0deg );
                transform: rotate( 0deg );

        @include max-screen( $breakpoint-tablet ) {

        }

        @include max-screen( $breakpoint-mobile ) {
          margin-left: 0;
          padding: 7px 7px 7px 7px;
          width: 9px;
          height: 9px;
          color: $white-color;
          font-size: 0.5em;
        }
      }

      .article-box_share-button-twitter {
        @include max-screen( $breakpoint-tablet ) {

        }

        @include max-screen( $breakpoint-mobile ) {
          background-color: #55acee !important;
        }
      }

      .article-box_share-button-facebook {
        @include max-screen( $breakpoint-tablet ) {

        }

        @include max-screen( $breakpoint-mobile ) {
          background-color: #315096 !important;
        }
      }
    }

    @media screen and ( min-width: $breakpoint-tablet ) {
      li:hover {
        width: 100px;
        //-webkit-transform: translate( 40px, 0 );
        //        transform: translate( 40px, 0 );
        background: rgba( 0, 0, 0, 0.1 );

        a {
          color: #000;
        }

        i {
          color: #fff;
          background: #000;
          -webkit-transform: rotate( 360deg );
                  transform: rotate( 360deg );
          -webkit-transition: all 1s;
          transition: all 1s;
        }

        .article-box_share-button-twitter {
          background-color: #55acee !important;
        }

        .article-box_share-button-facebook {
          background-color: #315096 !important;
        }
      }
    }
  }
}

.article-box_content {
  padding-top: 5px;
  line-height: 2.0;
  font-size: 0.9em;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    padding-top: 8px;
    font-size: 0.65em;
  }
}

.article-box_image {
  display: block;
  width: 100%;
}

///////////////////////////////
// クリエイタープロフィールページ //
///////////////////////////////
.profile {

}

.profile-heading {
  padding: 56px 0 60px 0;
  width: 100%;
  background-color: $white-color;
  text-align: center;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    padding: 28px 0 30px 0;
  }

  h1 {
    margin: 0 auto;
    padding: 0;
    width: 85%;
    color: $thick-black-color;
    font-family: 'Noto Sans';
    font-size: 1.7em;
    font-weight: 500;

    @include max-screen( $breakpoint-tablet ) {

    }

    @include max-screen( $breakpoint-mobile ) {
      font-family: $android-font;
      font-size: 1.2em;
    }
  }
}

.profile-eyecatch {
  display: block;
  margin: 0 auto;
  width: $box-width-pc;
  max-width: 100%;
  text-align: center;
  object-fit: cover;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    height: 180px;
  }
}

.profile-main {
  margin: 0 auto;
  width: $box-width-pc;
  //height: 600px;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    width: $box-width-mobile;
    //height: 400px;
  }
}

.profile-box {
  margin: 0 auto;
  padding-bottom: 80px;
  width: $box-width-pc;
  text-align: left;

  @include max-screen( $breakpoint-tablet ) {
    width: $box-width-tablet;
  }

  @include max-screen( $breakpoint-mobile ) {
    padding-bottom: 60px;
    width: $box-width-mobile;
  }
}

.profile-box_youtube {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 400px;

  @include max-screen( $breakpoint-tablet ) {
    height: 300px;
  }

  @include max-screen( $breakpoint-mobile ) {
    height: 150px;
  }
}

.profile-box_share-button {
  position: fixed;
  top: 50%;
  left: 0;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    top: 60%;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    padding: 0px;
    //-webkit-transform: translate( -270px, 0 );
    //        transform: translate( -270px, 0 );

    li {
      display: block;
      margin: 5px 5px 5px 0;
      background: rgba( 0, 0, 0, 0.36 );
      width: 60px;
      text-align: right;
      padding: 10px;
      border-radius: 0 30px 30px 0;
      -webkit-transition: all 1s;
      transition: all 1s;

      @include max-screen( $breakpoint-tablet ) {

      }

      @include max-screen( $breakpoint-mobile ) {
        padding: 2px 6px 5px 3px;
        width: 22px;
        border-radius: 0 15px 15px 0;
        background: rgba( 0, 0, 0, 0.2 );
        transition: none;
      }

      i {
        margin-left: 11px;
        color: #000;
        background: #fff;
        padding: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 1.2em;
        background: #ffffff;
        -webkit-transform: rotate( 0deg );
                transform: rotate( 0deg );

        @include max-screen( $breakpoint-tablet ) {

        }

        @include max-screen( $breakpoint-mobile ) {
          margin-left: 0;
          padding: 7px 7px 7px 7px;
          width: 9px;
          height: 9px;
          color: $white-color;
          font-size: 0.5em;
        }
      }

      .profile-box_share-button-twitter {
        @include max-screen( $breakpoint-tablet ) {

        }

        @include max-screen( $breakpoint-mobile ) {
          background-color: #55acee !important;
        }
      }

      .profile-box_share-button-facebook {
        @include max-screen( $breakpoint-tablet ) {

        }

        @include max-screen( $breakpoint-mobile ) {
          background-color: #315096 !important;
        }
      }
    }

    @media screen and ( min-width: $breakpoint-tablet ) {
      li:hover {
        width: 100px;
        //-webkit-transform: translate( 40px, 0 );
        //        transform: translate( 40px, 0 );
        background: rgba( 0, 0, 0, 0.1 );

        a {
          color: #000;
        }

        i {
          color: #fff;
          background: #000;
          -webkit-transform: rotate( 360deg );
                  transform: rotate( 360deg );
          -webkit-transition: all 1s;
          transition: all 1s;
        }

        .profile-box_share-button-twitter {
          background-color: #55acee !important;
        }

        .profile-box_share-button-facebook {
          background-color: #315096 !important;
        }
      }
    }
  }
}

.profile-box_content {
  padding-top: 30px;
  line-height: 24px;
  font-size: 0.9em;

  @include max-screen( $breakpoint-tablet ) {

  }

  @include max-screen( $breakpoint-mobile ) {
    padding-top: 8px;
    font-size: 0.65em;
  }

  h2 {
    font-weight: 500;
  }
}
