{{ partial "kadode_header.html" . }}

{{ partial "page_nav.html" . }}

<!-- News Page Template -->
<section class="page-wrapper">
  {{ partial "breadcrumbs" . }}
  <div class="page-heading">
    <h1>KADODE</h1>
  </div>
  <div class="page-main">
    <div class="about">
      <h2>ABOUT</h2>
      <div class="about-box">
        <div class="about-box_title">
          突き抜けた才能を、世界とつなぐ。
        </div>
        <div class="about-box_description">
          画家、イラストレーター、映像作家、アスリート、ミュージシャン。<br />
          世界を睨んで活動するクリエイター＝表現者たち。<br />
          <br />
          KADODEは「作品や表現の価値を高め、多くのファンとつないで、末長く愛される作品を残していくこと」を実現していくクリエイターエージェンシーである。<br />
          九州アジアを中心とした、クリエイティブな文化を築くための欠かせない存在になりたい。<br />
          <br />
          よりよい環境で表現活動を行えるように、ブッキングやコーディネート、PRなど、様々な形でクリエイターの門出をサポートしていく。<br />
          <br />
        </div>
      </div>
    </div>
    <div class="partnership">
      <h2>PARTNERSHIP</h2>
      <div class="partnership-box">
        <div class="partnership-box_description">

        </div>
        <div class="partnership-box_partner-list">
          <a href="http://elente.tokyo/" target="_blank"><img src="/images/kadode/partnership/elente-tokyo.png" alt="ELENTE.tokyo" /></a>
          <a href="http://wooly-web.com/" target="_blank"><img src="/images/kadode/partnership/wooly.png" alt="Wooly Magazine" /></a>
        </div>
      </div>
    </div>
    <div class="creator">
      <h2>CREATOR</h2>
      <div class="creator-box">
        <h3 class="creator-box_category">ILLUSTRATOR</h3>
        <div class="creator-box_creator-list">
          <div class="creator-box_creator-card">
            <a href="/kadode/illustrator/masuda-miku"><img class="creator-box_creator-photo" src="/images/kadode/illustrator/masuda-miku.jpg" alt="ますだみく" /></a>
            <span class="creator-box_creator-name">ますだみく</span>
          </div>
          <div class="creator-box_creator-card">
            <a href="/kadode/illustrator/yoshifuku-honoka"><img class="creator-box_creator-photo" src="/images/kadode/illustrator/yoshifuku-honoka.jpg" alt="ヨシフクホノカ" /></a>
            <span class="creator-box_creator-name">ヨシフクホノカ</span>
          </div>
          <div class="creator-box_creator-card">
            <a href="/kadode/illustrator/haru"><img class="creator-box_creator-photo" src="/images/kadode/illustrator/haru.jpg" alt="HARU" /></a>
            <span class="creator-box_creator-name">HARU</span>
          </div>
        </div>

        <h3 class="creator-box_category">CALLIGRAPHER</h3>
        <div class="creator-box_creator-list">
          <div class="creator-box_creator-card">
            <a href="/kadode/calligrapher/sugita-hirotaka"><img class="creator-box_creator-photo" src="/images/kadode/calligrapher/sugita-hirotaka.jpg" alt="KAZ" /></a>
            <span class="creator-box_creator-name">杉田 廣貴</span>
          </div>
        </div>

        <h3 class="creator-box_category">ACCESSORY DESIGNER</h3>
        <div class="creator-box_creator-list">
          <div class="creator-box_creator-card">
            <a href="/kadode/accessory-designer/palpito"><img class="creator-box_creator-photo" src="/images/kadode/accessory-designer/palpito.jpg" alt="palpito" /></a>
            <span class="creator-box_creator-name">palpito</span>
          </div>
        </div>

        <h3 class="creator-box_category">BEAT BOXER</h3>
        <div class="creator-box_creator-list">
          <div class="creator-box_creator-card">
            <a href="/kadode/beat-boxer/kaz"><img class="creator-box_creator-photo" src="/images/kadode/beat-boxer/kaz.jpg" alt="KAZ" /></a>
            <span class="creator-box_creator-name">KAZ</span>
          </div>
        </div>

        <h3 class="creator-box_category">FILM DIRECTOR</h3>
        <div class="creator-box_creator-list">
          <div class="creator-box_creator-card">
            <a href="/kadode/film-director/jimbo-yoshimasa"><img class="creator-box_creator-photo" src="/images/kadode/film-director/jimbo.jpg" alt="神保 慶政" /></a>
            <span class="creator-box_creator-name">神保 慶政</span>
          </div>
        </div>

        <h3 class="creator-box_category">PHOTOGRAPHER</h3>
        <div class="creator-box_creator-list">
          <div class="creator-box_creator-card">
            <a href="/kadode/photographer/gunki"><img class="creator-box_creator-photo" src="/images/kadode/photographer/gunki.jpg" alt="GUNKI" /></a>
            <span class="creator-box_creator-name">GUNKI</span>
          </div>
        </div>
      </div>
    </div>
    <div class="recruitment">
      <h2>RECRUITMENT</h2>
      <div class="recruitment-box">
        <dl class="recruitment-box_overview">
          <dt>募集部門</dt>
          <dd>
            Illustrator / Painter / Designer / Photographer /
            Video Director / Musician / Model / Writer ...etc
          </dd>
          <div class="clearfix"></div>
          <hr />
          <dt>応募条件</dt>
          <dd>
            ・九州アジアを拠点に活動しているクリエイター もしくは 九州アジアに向けて発信したいクリエイター
          </dd>
          <div class="clearfix"></div>
          <hr />
          <dt>応募メールへの記入事項・添付資料</dt>
          <dd>
            ・ご希望の部門（募集部門一覧にない部門でも構いません）<br />
            ・履歴書<br />
            ・実績がわかるもの（ポートフォリオや実績が掲載されているURLなど）
          </dd>
          <div class="clearfix"></div>
          <hr />
          <dt>応募後の流れ</dt>
          <dd>
            審査通過後、KADODEへのご登録のための条件等についてご連絡いたします。皆さまからのご応募、心よりお待ちしております。
          </dd>
        </dl>
        <div class="clearfix"></div>
        <a href="https://form.run/@frenel" target="_blank">応募フォーム</a>
      </div>
    </div>
    <div class="offer">
      <h2>OFFER</h2>
      <div class="offer-box">
        <p>
          所属クリエイターへのオファーは、以下のフォームよりお問い合わせください。
        </p>
        <!--
        <h3>活用事例</h3>
        <dl class="offer-box_example">
          <dt>企業・自治体</dt>
          <dd>・</dd>
        </dl>
        -->
        <a href="https://form.run/@frenel" target="_blank">オファーフォーム</a>
      </div>
    </div>
    <!--
    <div class="case-study">
      <h2>CASE STUDY</h2>
      <div class="case-study-box">
        <p>

        </p>

      </div>
    </div>
    -->
  </div>
</section>

{{ partial "footer.html" . }}
